<template>
  <span v-html="bindHtml"></span>
</template>

<script lang="ts">
import { Component, Prop, Vue, State } from "nuxt-property-decorator";
import { ChemicalElement } from "~/types";
import { addChemistryElementsToWords, shuffle } from "~/utils";

@Component({})
export default class ChemicalSymbol extends Vue {
  @Prop() text: string;

  @State chemicalElements: { [symbol: string]: ChemicalElement };
  @State chemicalSymbols: Array<string>;

  get bindHtml(): string {
    return addChemistryElementsToWords(
      this.text,
      "span",
      shuffle(this.chemicalSymbols),
      this.chemicalElements,
      "symbol"
    );
  }
}
</script>

<style lang="scss" scoped>
</style>
