<template>
  <li class="flask">
    <a
      class="wrapper"
      :href="url"
      rel="noopener"
      target="_blank"
      :aria-label="label"
    >
      <slot></slot>
    </a>
  </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({})
export default class FlaskComponent extends Vue {
  @Prop() url: string;
  @Prop() label: string;
}
</script>

<style lang="scss" scoped>
li.flask {
  transition: 300ms ease;
  &:hover,
  &:focus-within {
    transform: scale(1.05);

    [data-name="wave"],
    [data-name="wave"] {
      animation-play-state: running;
    }
  }
  a {
    position: relative;
    display: block;

    svg {
      height: 200px;
      max-width: 100%;
      transition: 300ms;

      [data-name="wave"] {
        transition: 100ms;
        animation: fluid 1.5s infinite linear;
        animation-play-state: paused;

        @keyframes fluid {
          100% {
            transform: translateX(-50%);
          }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
          animation-play-state: running;
        }

        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
          animation-play-state: running;
        }

        @media (min-width: 481px) and (max-width: 767px) {
          animation-play-state: running;
        }

        @media (min-width: 320px) and (max-width: 480px) {
          animation-play-state: running;
        }
      }
    }
  }
}
</style>
