<template>
  <li class="project" tabindex="0">
    <!--  Background wrapper for zoom and filter effects to work :)-->
    <div
      class="bg"
      :style="{
        backgroundImage: isApple
          ? `url(${project.img}.jpg)`
          : `url(${project.img}.webp)`
      }"
    ></div>

    <h3 class="name">
      {{ project.name }}
    </h3>

    <div class="info">
      <h3>{{ project.name }}</h3>

      <p v-if="project.description">
        {{ project.description }}
      </p>

      <ul class="technologies">
        <TechnologyComponent
          v-for="technology in project.technologiesNames"
          :key="technology"
          :name="technology"
        />
      </ul>

      <a
        class="github"
        v-if="project.githubUrl"
        :href="project.githubUrl"
        target="_blank"
        rel="noopener"
      >
        Source code
      </a>

      <a
        v-if="project.url"
        class="button"
        :href="project.url"
        target="_blank"
        rel="noopener"
      >
        Visit website
      </a>
    </div>
  </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { Project } from "~/types";
import TechnologyComponent from "./TechnologyComponent.vue";
import { isSafari, is_iOS } from "~/utils";

@Component({ components: { TechnologyComponent } })
export default class ProjectComponent extends Vue {
  @Prop() project: Project;

  // Fallback from webp to png on apple devices
  private get isApple(): boolean {
    return isSafari() || is_iOS();
  }
}
</script>

<style lang="scss" scoped >
li.project {
  width: 250px;
  height: 250px;
  max-width: 100%;
  margin: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-radius: 15px;
  padding: 50px;

  .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    filter: grayscale(0);
  }

  .name {
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    background: #4c9b65;
    border-radius: 25px;
    padding: 10px 25px;
  }

  .info {
    transition: 0.4s ease-in-out;
    background: rgba(60, 52, 82, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scale(0.5);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 15px;
    text-align: center;

    h3 {
      font-size: 1.5rem;
      margin: 5px;
    }

    p {
      line-height: 1.5rem;
      font-size: 1rem;
      width: 90%;
      margin: 10px 0;
    }
  }

  a {
    color: white;

    &.button {
      transition: 0.2s ease;
      border: 3px solid green;
      border-radius: 25px;
      padding: 10px 25px;
      text-decoration: none;
      margin: 15px;

      &:after {
        content: "";
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        margin-bottom: 3px;
      }

      &:hover,
      &:focus-within {
        background: green;
      }

      .icon {
        svg {
          width: 8px;
          vertical-align: -2px;
          margin-left: 3px;
        }
      }
    }
  }

  ul.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 35px;
    padding: 0;
  }

  &:hover,
  &:focus-within {
    .name {
      opacity: 0;
    }

    .info {
      opacity: 1;
      transform: scale(1);
    }

    .bg {
      transform: scale(1.2);
      filter: grayscale(1);
    }
  }
}
</style>
