<template>
  <li class="skill">
    <ChemicalSymbol class="contain-symbol" :text="skill" />
  </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import ChemicalSymbol from "./ChemicalSymbol.vue";

@Component({
  components: { ChemicalSymbol }
})
export default class SkillComponent extends Vue {
  @Prop() skill: string;
}
</script>

<style lang="scss" scoped >
.skill {
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}
</style>
