<template>
  <li
    class="technology"
    :data-tooltip="`${tech.name || name} ${tech.version || ''}`"
  >
    <img v-if="tech" class="icon" :src="tech.img" :alt="tech.name" />
  </li>
</template>

<script lang="ts">
import { Component, Prop, Vue, State } from "nuxt-property-decorator";
import { Technology } from "~/types";

@Component({})
export default class TechnologyComponent extends Vue {
  @Prop() name: string;

  @State technologies: Map<string, Technology>;

  get tech(): Technology {
    return this.technologies.get(this.name) || this.technologies.get("default");
  }
}
</script>

<style lang="scss" scoped >
li.technology {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    height: 24px;
  }
}
</style>
