@font-face {
  font-family: BreakingBad;
  font-display: swap;
  src: url('~assets/fonts/font-bb.woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: #050a1d;
  color: white;
  margin: 0;
}

$baseSize: 1.5vh;

.chemical {
  font-family: BreakingBad;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1 * $baseSize;

  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2 * $baseSize;
    font-size: 4 * $baseSize;
  }

  .element {
    font-family: sans-serif;
  }
}

.contain-symbol {
  text-shadow: black 2px 3px;
}

.element {
  position: relative;
  margin: 0.5 * $baseSize;
  padding: 3.5 * $baseSize;
  width: 3 * $baseSize;
  height: 3 * $baseSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ddffe2;
  background: linear-gradient(130deg, #4c9b65 20%, #17321a 95%);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 5 * $baseSize;

  .atomic-mass,
  .number,
  .shells {
    position: absolute;
    user-select: none;
  }

  .atomic-mass {
    left: 0.5 * $baseSize;
    top: 0.5 * $baseSize;
    font-size: 0.7 * $baseSize;
    font-weight: 600;
  }

  .number {
    left: 0.5 * $baseSize;
    bottom: 1.25 * $baseSize;
    font-size: 1 * $baseSize;
    font-weight: 600;
  }

  .shells {
    left: 0.5 * $baseSize;
    bottom: 0.5 * $baseSize;
    font-size: 0.7 * $baseSize;
    font-weight: 400;
  }
}

.symbol {
  color: #4c9b65;
}

.author {
  > span {
    margin: 0 1rem;
  }
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  width: 80px;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  transform: translateX(-50%);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.95);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1rem;
  line-height: 1.2;
  transition: 150ms;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ' ';
  font-size: 0;
  line-height: 0;
  transition: 150ms;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
