<template>
  <main>
    <h1>
      <ChemicalTitleComponent :text="'Personal Website'" />
    </h1>
    <h2 class="name">
      <ChemicalSymbol class="author" :text="'of Leonid Naumov'" />
    </h2>

    <!-- Projects section -->
    <section>
      <h3>Projects:</h3>
      <ul class="projects">
        <ProjectComponent
          v-for="project in projects"
          :key="project.name"
          :project="project"
        />
      </ul>
    </section>

    <!-- Skills section -->
    <section>
      <h3>Skillset:</h3>
      <ul class="skills">
        <SkillComponent v-for="skill in skills" :key="skill" :skill="skill" />
      </ul>
    </section>

    <!-- Socials section -->
    <section>
      <h3>Socials:</h3>
      <ul class="socials">
        <FlaskComponent url="tg://resolve?domain=@Leon_js" label="My telegram">
          <img
            data-svg-inline
            src="@/static/flasks/telegram-flask.svg"
            alt="Telegram"
          />
        </FlaskComponent>

        <FlaskComponent url="https://github.com/Quake11" label="My github page">
          <img
            data-svg-inline
            src="@/static/flasks/github-flask.svg"
            alt="Github"
          />
        </FlaskComponent>

        <FlaskComponent
          url="https://www.linkedin.com/in/lnaumov/"
          class="linkedin"
          label="My linkedin page"
        >
          <img
            data-svg-inline
            src="@/static/flasks/linkedin-flask.svg"
            alt="LinkedIn"
          />
        </FlaskComponent>
      </ul>
    </section>

    <a href="mailto:@contact@lnaumov.ru" class="email">contact@lnaumov.ru</a>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { State } from "vuex-class";
import { Project } from "~/types";
import {
  SkillComponent,
  FlaskComponent,
  ChemicalTitleComponent,
  ChemicalSymbol,
  ProjectComponent
} from "~/components/";

@Component({
  components: {
    SkillComponent,
    ChemicalTitleComponent,
    ChemicalSymbol,
    FlaskComponent,
    ProjectComponent
  }
})
export default class extends Vue {
  @State skills: string[];
  @State projects: Project[];
}
</script>

<style lang="scss" scoped>
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
  font-family: sans-serif;

  h1,
  h2 {
    margin: 0;
  }

  .name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    .author {
      margin: 1rem;
      display: flex;
      justify-content: center;
      font-size: 6vh;
      flex-wrap: wrap;
    }
  }

  section {
    text-align: center;
    margin: 2rem;
    width: 100%;

    h3 {
      display: flex;
      font-size: 6vh;
      justify-content: center;
      text-align: center;
      border-bottom: 1px solid green;
      margin-bottom: 1rem;
      display: inline-block;
    }

    ul.projects {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 100vw;
    }

    ul.skills {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      width: 100%;
      text-align: center;
      grid-gap: 1.5rem;
    }

    ul.socials {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      > li {
        margin: 30px;
      }

      @media only screen and (min-width: 800px) {
        .linkedin {
          margin: 0 -25px;
        }
      }
    }
  }
  a.email {
    color: white;
    font-size: 2rem;
    margin: 2rem;
  }
}
</style>
